<div>
  <div>Number Only</div>
  <input type="text" ngxInputType="NumberOnly" />
</div>

<div>
  <div>Alphabet Only</div>
  <input type="text" ngxInputType="AlphabetOnly" />
</div>

<div>
  <div>Alphanumeric</div>
  <input type="text" ngxInputType="AlphaNumeric" />
</div>

<div>
  <div>AlphaNumeric With Spaces</div>
  <input type="text" ngxInputType="AlphaNumeric" [spaceAllowed]="true" />
</div>

<div>
  <div>AlphaNumeric With Special Characters</div>
  <input type="text" ngxInputType="AlphaNumeric" specialCharacters="%!@#$^&*()" />
</div>

<div>
  <div>AlphaNumeric With Max Length (10)</div>
  <input type="text" ngxInputType="AlphaNumeric" maxlength="10" />
</div>
